/*FONTS*/
@import url("//hello.myfonts.net/count/4a60c0");

@font-face {
    font-family: "Campton-Bold";
    src: url('/fonts/CamptonBold/font.woff2') format('woff2'), url('/fonts/CamptonBold/font.woff') format('woff');
}

@font-face {
    font-family: "Campton-Book";
    src: url('/fonts/CamptonBook/font.woff2') format('woff2'), url('/fonts/CamptonBook/font.woff') format('woff');
}

h2 {
    font-family: "Campton-Book";
    font-size: 24px;
    color: #3E3B44;
}

h3 {
    font-family: "Campton-Bold";
    font-size: 32px;
    line-height: 1px;
    color: #3E3B44;
}


p {
    font-family: "Campton-Book";
    font-size: 18px;
    color: #3E3B44;
    line-height: 1.5;
}

a {
    font-family: "Campton-Bold";
    color: #3E3B44;
}

@media (min-width: 1300px) {
    h3 {
        font-size: 52px;
    }

    p {
        font-size: 22px;
    }
}


.center {
    text-align: center;
}

/*GLOBALS*/

body,
html {
    height: 100%;
    margin: 0;
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #F0EDEA;
    height: 100%;
}

/*Header Content*/


#logo {
    display: none;
}


#ghost {
    display: none;
}

.logo {
    height: 32px;
    width: auto;
    margin: 32px 0 0 32px;
}


.intro {
    width: 100%;
    height: 100%;
    background: none;
}


.intro_text {
    display: block;
    height: 300px;
    background: linear-gradient(180deg, rgba(240, 237, 234, 0) 0%, #F0EDEA 100%);
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.intro_text H2 {
    position: absolute;
    bottom: 48px;

}


.arrow {
    position: absolute;
    bottom: 32px;
}

@media (min-width: 768px) {
    .logo {
        height: 48px;
        width: auto;
        margin: 40px 0 0 40px;
    }

    .intro_text H2 {
        display: block;
        width: 600px;
        left: 50%;
        margin-left: -300px;
    }


}

@media (min-width: 2550px) {
    .logo {
        height: 64px;
        width: auto;
        margin: 52px 0 0 52px;
    }

    .intro_text H2 {
        display: block;
        width: 800px;
        left: 50%;
        margin-left: -400px;
    }

    h2 {
        font-size: 32px;
    }


}


/*VIDEO*/
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10000;
}

/*DEMO*/


.demo_container {
    padding: 0 16px;

}

@media (min-width: 1300px) {
    .demo_container {
        display: block;
        width: 1300px;
        margin: 0 auto;

    }
}


.left {
    width: 100%;
    overflow: auto;
}

.right {
    width: 100%;
}

.demo_desc {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 0;
    margin: 0 auto;
    overflow: auto;
}

@media (min-width: 1023px) {
    .left {
        width: 50%;
        float: left;
    }

    .right {
        width: 50%;
        float: right;
        height: 600px;
    }

    .demo_desc {
        margin-top: 300px;
    }
}


@media (min-width: 1300px) {
    .demo_desc {
        max-width: 500px;
        margin-top: 250px;
    }
}

/*iframe*/

iframe {
    display: block;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

@media (min-width: 768px) {
    iframe {
        height: 600px;
    }
}


.iframe-container {
    overflow: scroll !important;
    -webkit-overflow-scrolling: touch !important;
}

/*Follow*/

.follow_container {
    display: block;
    overflow: auto;
    text-align: center;
    padding: 64px 0;
}

@media (min-width: 1023px) {
    .follow_container {
        width: 600px;
        margin: 0 auto;

    }
}
