html, body {
    margin: 0;
}

.logo {
    margin: 32px 0 0 32px;
    width: 303px;
    height: auto;
}

.logo-2 {
    margin: 32px 0 0 32px;
    width: 267px;
    height: auto;
}

@media (max-width: 480px) {
.logo {
    width: 128px;
    height: auto;
    }

.logo-2 {
    width: 164px;
    height: auto;
    }
}

.sig {
    position: absolute;
    display: block;
    width: 196px;
    height: 29px;
    bottom: 32px;
    left: 32px;
}

.bgimg {
    overflow: hidden;
}

img {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    height: auto;
    z-index: -9999999;
  }
