html, body {
    margin: 0;
    background-color: #F2EFF5;
}


.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 300px;
    height: 39.8px;
    margin: -19.9px 0 0 -150px ;
}

@media (max-width: 480px) {
   
.logo{
    width: 200px;
    height: 34px;
    margin: -17px 0 0 -100px;
}

}