html, body {

    margin: 0;
    background-color: #F2EFF5;
}

.logo{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 238.9px;
    height: 31.7px;
    margin: -15.5px 0 0 -119.5px ;
}

@media (max-width: 480px) {
   
.logo{
    width: 200px;
    height: 34px;
    margin: -17px 0 0 -100px;
}

}